<?php

namespace ${namespace};

use CMW\Manager\Manager\AbstractManager;

/**
 * Class: @${className}
 * @manager ${managerName}
 */
class ${className} extends AbstractManager
{
    public function doSomething(): void
    {
        print "Doing something";
    }
}