<?php

namespace ${namespace};

use CMW\Manager\Package\AbstractController;
use CMW\Manager\Router\Link;

/**
 * Class: @${controllerName}
 * @package ${packageName}
 * @link https://craftmywebsite.fr/docs/fr/technical/creer-un-package/controllers
 */
class ${controllerName} extends AbstractController
{
    #[Link("/${packageNameLower}", Link::GET)]
    private function defaultRoute(): void
    {
        //TODO
    }
}
