<?php

namespace ${namespace};

use CMW\Manager\Database\DatabaseManager;
use CMW\Manager\Package\AbstractModel;

/**
 * Class: @${modelName}
 * @package ${packageName}
 * @link https://craftmywebsite.fr/docs/fr/technical/creer-un-package/models
 */
class ${modelName} extends AbstractModel
{
    public function doSomething(): void
    {
        $sql = "SELECT * FROM table";
        $db = DatabaseManager::getInstance();

        $res = $db->query($sql);
    }
}
