<?php

namespace ${namespace};

/**
 * Enum: @${typeName}
 * @package ${packageName}
 */
enum ${typeName}
{
    case SUCCESS;
    case ERROR;

    public static function fromName(string $name): self
    {
        foreach (self::cases() as $method) {
            if ($name === $method->name) {
                return $method;
            }
        }
        throw new \ValueError("$name is not a valid backing value for enum ${typeName}");
    }
}
